.pdf-btn{
    display:inline-block;
    padding: 18px 36px;
    font-size: 2rem;
    font-weight:600;
    text-decoration:none;
    color:#111;               /* text color */
    background:#ffd54a;       /* yellow */
    border-radius:10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    transition: transform .12s ease, background .12s ease;

    margin-bottom: 100px;
}