.logo-head{
    width:60px !important;
    height:50px !important;
    border-radius: 40%;
}

.carousel-item > img {
    width:100%;
    height:50%;
}

#big-logo{
    width:30%;
    height:30%;
    border-color: navy;
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    margin-bottom: 75px;
}