NAV BAR
.logo-head{
    width:60px !important;
    height:50px !important;
    border-radius: 40%;
}
/* FOOTER */
#logo-footer{
    width: 50%;
    height: 50%;
}
#myFooter{
    background-color: #cacaca;
    margin: 0;
}
.miniIcon{
    font-size:60px
}
#donate-btn{
    width:400px;
    height:100px;
    font-size:30px;
    color: #000d47;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    border-width: 5px;
}
/* HOMEPAGE */
.carousel-item > img {
    width:100%;
    height:50%;
}
#big-logo{
    width:30%;
    height:30%;
    border-color: navy;
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    margin: 75px;
}
.cheers-txt > p{
    font-size:21px;
}
#article-link{
    font-size:45px;
    margin-bottom: 100px;
}

.pdf-btn{
    display:inline-block;
    padding: 18px 36px;
    font-size: 2rem;
    font-weight:600;
    text-decoration:none;
    color:#111;               /* text color */
    background:#ffd54a;       /* yellow */
    border-radius:10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    transition: transform .12s ease, background .12s ease;

    margin-bottom: 100px;
}